.metrics-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  /* Metric card */
  .metrics-card {
    height: 85px;
    width: 200px;
    flex: 1;
    margin-bottom: 16px;
    background-color:rgba(70, 149, 252, 0.815),
  }
  
  .metric-info {
    display: flex;
    flex-direction: column;
    max-width:134.65px ;
    max-height: 53.33px ;
  }
  
  .metric-value.positive-value  {
    color:#34bc5bf7;
    
  }
  
  .negative-value {
    color: #bf4747f7,
  }
  
  .metric-title {
    color: #939393f7;
    font-size: 14px; /* Adjust font size as needed */
  }
  
  .tag-container {
    display: flex;
    align-items: center;
    width: 10px; /* Set a fixed width */
  }
  .head{
    display: flex;
    justify-content: space-between;
    
  }
  
  .metric-value {
    font-weight:550;
    font-size: 19px; /* Adjust font size as needed */
  }

   /* Adjustments for smaller screens */
 @media (max-width: 768px) {
  .charts-flex {
      display: grid !important;
      justify-content: center;
      align-items: center;
  }
 
}


/* Styles for larger screens */
.chart-row {
  display: flex;
  gap: 16px;
  margin-left: 50px;
  margin-right: 50px;
}

.chart-row .chart-col {
  flex: 1;
  height: 100%;
}

.chart-row .chart-col:first-child {
  flex: 3;
}

.chart-row .chart-col:last-child {
  flex: 2;
}

/* Responsive styles */
@media (max-width: 768px) {
  .chart-row {
    flex-direction: column; /* Change to column layout */
    margin-left: 20px;
    margin-right: 20px;
  }

  .chart-row .chart-col {
    flex: 1 !important; /* Ensure equal height for both columns */
    width: 100% !important; /* Make each column take full width */
  }
}