/* LandingPage.css */

/* General Styles */
.header {
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   padding: 0 24px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.logo {
   float: left;
   font-size: 24px;
   font-weight: bold;
   color: #333;
}

.header a {
   float: right;
   color: #333;
   text-decoration: none;
   margin-right: 16px;
}

.nav-btn {
   width: fit-content;
   height: fit-content;
   display: none;
}

.nav-links {
   display: flex;
   float: none;
   text-align: center;
   margin-top: 16px;
   margin-left: 400px;
}


.content {
   padding: 50px;
   background-color: #fff;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hero-image {
   margin-bottom: 24px;
}

.hero-text {
   text-align: center;
}

.gradient-title {
   background: linear-gradient(to right, #4695fc, #174e8a,  #18589c);
   -webkit-background-clip: text;
   background-clip: text; /* Standard property */
   -webkit-text-fill-color: transparent;
   color: transparent; /* Fallback for browsers that don't support background-clip */
   font-size: 36px;
   font-weight: bold;
  }
  


.features {
   margin-top: 50px;
}

.feature-card {
   text-align: center;
   padding: 24px;
   border: 1px solid #e8e8e8;
   border-radius: 8px;
   transition: transform 0.3s ease-in-out;
   
}

.feature-card:hover {
   transform: scale(1.05);
   box-shadow: #4695fc;
}

/* Responsive Styles */
@media (max-width: 768px) {
   .header {
       padding: 0 16px;
   }

   .nav-links {
      display: none;
      float: none;
      text-align: center;
      margin-top: 16px;
   }

   .nav-button {
      margin-left: 8px;
   }

   

   .nav-btn {
      display: block;
      margin-left: 8px;
   }

   .logo {
       font-size: 20px;
   }



   .features {
       margin-top: 32px;
   }

   
}

/* Demo Video */
.demo-video {
   margin-top: 50px;
   text-align: center;
}

.demo-video iframe {
   max-width: 100%;
}

/* Footer */
.footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 20px 0;
}


.nav-button {
   margin-left: 16px;
}

