@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin:0;
  padding:0;
  border:none;
  outline:none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  color: #ffffff;
}

.header {
  display: none;
}

.menu-bar {
 height: 88vh;
 margin-top:2rem;
 display: flex;
 flex-direction:column;
 gap: 15px;
 font-size:1rem;
 position:relative;
}

.menu-item-wrapper {
  padding: 0 24px; /* Adjust padding as needed */
}

.menu-control-container{
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
}

.toggle-theme-btn{
  position: relative;
  bottom: 20px;
  left:1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1rem;
}

.toggle{
  position: absolute;
  top: 0;
  left:0;
  /* padding: 12px 0 0 14px;  */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1rem;
  
}

.page-content {
  background-color: #bbd6f722;
}



@media screen and (max-width:800px){
  .app{
      flex-direction: column;
      overflow: hidden;
  }

  .navbar{
      flex: 1;
  }

  .header {
      display:block !important;;
  }

  .sidebar{
    display: none;
  }

  
  .main{
      flex: 1;
      margin-top: 90px;
      margin-left: 0px;
      margin-right: 10px;
  }

  

  .menu-control-container{
      display: block !important;
  }

  .ant-menu{
      position: absolute;
      right: 0px;
  }
  .home-title{
      font-size: 1.4rem !important;
  }
  .show-more{
      font-size: 1.3rem !important;
  }
}




.import-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.journal-details-container {
  background-color: #f9f9f9;
  margin: 0;
}

.journal-details-container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}
.journal-details-container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
  background-color: #bbd6f722;
}

.journal-details-container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fcfcfc;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.journal-item {
  border: 1px solid #e8e8e8;
  margin-bottom: 16px;
  /* Add other styles like padding, rounded corners, etc. */
}

.journal-details {
  color: #d33024;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 0;
  /* Add other styles for layout and spacing */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the container take up the full height of the viewport */
 }

 :where(.css-dev-only-do-not-override-1xg9z9n).ant-card .ant-card-body {
    padding: 20px;
 }