@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin:0;
  padding:0;
  border:none;
  outline:none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  color: #ffffff;
}

.menu-bar {
 height: 88vh;
 margin-top:2rem;
 display: flex;
 flex-direction:column;
 gap: 15px;
 font-size:1rem;
 position:relative;
}

.menu-item-wrapper {
  padding: 0 24px; /* Adjust padding as needed */
}

.toggle-theme-btn{
  position: relative;
  bottom: 20px;
  left:1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1rem;
}

.toggle{
  position: absolute;
  top: 0;
  left:0;
  /* padding: 12px 0 0 14px;  */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1rem;
  
}

.metrics-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Metric card */
.metrics-card {
  height: 100px;
  width: 200px;
  flex: 1;
  margin-bottom: 16px;
}

.metric-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric-title {
  color: #939393f7;
  font-size: 14px; /* Adjust font size as needed */
}

.metric-value {
  font-weight: bold;
  font-size: 20px; /* Adjust font size as needed */
}

.import-cards{
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal-details-container {
  background-color: #f9f9f9;
  margin: 0;
}

.journal-details-container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}
.journal-details-container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.journal-details-container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #F3F3F3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.journal-item {
  border: 1px solid #e8e8e8;
  margin-bottom: 16px;
  /* Add other styles like padding, rounded corners, etc. */
}

.journal-details {
  color: #d33024;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 0;
  /* Add other styles for layout and spacing */
}